services:
  emoji-api:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git

volumes:
  cargo-registry:
  cargo-git:
